[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "==3.0.8"
psycopg2-binary = "==2.8.5"
django-elasticsearch-dsl = "==7.1.4"
Faker = "==4.1.1"

[requires]
python_version = "3.7"
